<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="custom-h1 my-4">Available</h1>
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
            <% for (let listing of list) { %>
            <div class="col">
                <a href="/show/<%= listing._id %>" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="<%= listing.image %>" class="card-img-top" alt="<%= listing.title %>" />
                        <div class="card-img-overlay"></div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text">
                                &#8377;<%= listing.price.toLocaleString("en-IN") %> per night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</body>
